.cardd {
  border-radius: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px !important; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset !important;
  background: #fff;
  position: relative;
}

.childcardd {
  position: absolute;
  bottom: -40%;
  left: 2rem;
  padding: 1rem;
  cursor: pointer;
}
.childcardd2 {
  position: absolute;
  bottom: -40%;
  padding: 1rem;
  right: 2rem;
  cursor: pointer;
}

.divviewopen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.bi-bus-front {
  color: #0d6efd;
}

.durationdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}
.passangerDiv {
  width: 90%;
  margin: 0 auto;
}
.info-box {
  background-color: #fff3cd; /* Light yellow background */
  border-left: 5px solid #f0ad4e; /* Bootstrap warning color */
}

.info-box ul li::before {
  content: "";
  color: #6c757d; /* Bootstrap muted */
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.classokkaro {
  margin-top: 2.2rem;
}
.innerpassangerDivFlex {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;
  font-weight: bold;
}

.table-light {
  background-color: #bbbb !important;
}
.plannicompany {
  width: 200px;
}
.whatsappiocnn {
  cursor: pointer;
}

.viewbookingsvgillus {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.viewBooking_Cont {
  /* border: 1px solid red; */
  max-width: 1340px;
  border-radius: 20px;
  margin: 0 auto;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/* .blob-mask {
  width: 100%;
  height: 100%;
  mask-image: url("../../Assets/blob.gif");
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: url("../../Assets/blob.gif");
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
} */

.viewbktitle {
  font-weight: bold;
  font-size: 18px;
  width: 180px;
  color: var(--color-orange);
}
.viewbkitm {
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
}
.Print_batan_div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
.print_batan {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #ff690f 0%, #e8381b 100%);
  padding: 12px;
  font-size: 19px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer !important;
}

.viewbookingnodata {
  font-weight: 700;
  color: #e8381b;
  text-align: center;
  font-size: 18px;
  margin: 1.5rem 0;
}

.table-responsive-scroll {
  width: 100%;
  overflow-x: auto;
}
.canceltikbox {
  border: 1px solid #e8381b !important;
  background-color: #f0664d;
  color: white;
}

.rotate-180 {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.cancelled-row {
  background-color: #f8d7da; /* light red */
}

@media screen and (max-width: 991px) {
  .classokkaro {
    /* margin-top: 15rem; */
  }
  .fs-24 {
    font-size: 20px;
  }
  .responRow {
    background-color: aqua;
    width: 100%;
    overflow-x: scroll;
  }
  .childcardd {
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    cursor: pointer;
    width: 90%;
  }
  .childcardd2 {
    position: absolute;
    bottom: -140%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    cursor: pointer;
    width: 90%;
  }
  .passangerDiv {
    overflow: scroll !important;
    max-width: 100%;
    margin: 1rem auto;
    /* background-color: black; */
  }

  .innerpassangerDiv {
    overflow: scroll !important;
    max-width: 100%;
    margin: 1rem 0;
    /* background-color: red; */
  }

  .innerpassangerDivFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 1px solid red;
    gap: 1.5rem;
    font-weight: bold;
    width: 100%;
  }

  .scrollable-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .scrollable-inner {
    min-width: 768px; /* Or as wide as needed to fit your desktop layout */
    white-space: nowrap;
  }
}
@media (max-width: 768px) {
  .fs-3 {
    font-size: 1.5rem !important;
  }
  .childcardd {
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    cursor: pointer;
    width: 90%;
  }
  .viewbktitle {
    font-size: 16px;
  }
  .viewbkitm {
    font-size: 16px;
  }
  .print_batan {
    font-size: 16px;
    padding: 10px;
    width: 150px;
  }
}
