.buswhychooseusmain {
  max-width: 1340px;
  margin: 2rem auto;
  /* height: 20vh; */
  /* background-color: red; */
  border-radius: 20px;
  padding: 1rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.buswhychooseusheading {
  text-align: center;
  font-size: 42px;
  font-weight: 800;
  color: var(--color-orange);
  margin-bottom: 1rem;
}

.chooseusiconCircle {
  height: 80px;
  width: 80px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-orange);
}

.chooseusicontitle {
  font-weight: bold;
  color: black;
  font-size: 24px;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .buswhychooseusheading {
    font-size: 30px;
  }
  .chooseusiconCircle {
    height: 60px;
    width: 60px;
    border-radius: 30px;
  }
  .chooseusicontitle {
    font-size: 20px;
  }
}
