/* .about_main {
  background: url("../../Assets/title-banner-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.banner-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 100px 16px !important;
} */
.content-box {
  text-align: center;
}

.left-imge {
  width: 50%;
  object-fit: contain;
}
.right-imge {
  width: 100%;
}
.aboutTitle {
  font-weight: 800;
}
.videosection {
  background-color: #f0f3f5;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.videodiv {
  border-radius: 10px;
  overflow: hidden;
}
.abtusbuscont {
  max-width: 1340px;
  margin: 1rem auto;
}

.abtusbuscontPtag {
  font-size: 18px;
  color: black;
}
.imgZoomContainer {
  overflow: hidden;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  position: relative;
}

.abtusbuscontImg {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.5s ease;
}

/* On hover, only the image zooms inside the fixed container */
.imgZoomContainer:hover .abtusbuscontImg {
  transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  .banner-area {
    row-gap: 2rem;
    padding: 1rem 0 !important;
  }
  .content-box h1 {
    font-size: 25px;
  }
  .left-imge {
    width: 40%;
  }
  .right-imge {
    width: 70%;
  }
  .videodiv {
    height: 200px !important;
  }
}
